node_modules/
dist/

templates/*.html
templates/Components/*.html
templates/Config/*json
mock/*.json

.env
.env.*
!.env.example

.DS_Store
.vscode/settings.json


!templates/.gitkeep
!mock/.gitkeep
!templates/Components/.gitkeep
!templates/Config/.gitkeep